.navbar .logo {
     width: 44px;
     height: 44px;
}
.navbar .logo img {
     margin: 5px;
}

.navbar .links ul li a {
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #262626;
padding: 12px 20px;
transition:all  0.4s ease;
}
.navbar .links ul li a:hover {
     background-color: #F1F1F3;
     }
.navbar .links ul li:first-child a{
     background-color: #F1F1F3;
}
.navbar .right-nav a {
     color: #262626;
     font-size: 14px;
     font-weight: 400;
     line-height: 21px;
}
.navbar .right-nav div:nth-child(2) a {
     color: white;
     padding: 12px 20px;
}
#menu-icon{
     position: relative;
     font-size: 3.6rem;
     cursor: pointer;
     display: none;
}
@media (width < 940px) {
     #menu-icon {
          display: initial;
       }
       .navbar .links .navbar-2  {
          position: absolute;
          right: 0;
          top: 120px;
          left: 0px;
          align-items: flex-start;
          flex-direction: column;
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          transition: 0.5s ease;
          background-color: white;
          padding-block: 20px;
          padding-left: 15px;
          z-index: 1;
       }
       .navbar .links ul li:first-child a{
          background-color: transparent;
      }
    
     .navbar .navbar-2.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .navbar .links .navbar-2 li  {
          text-align: start;
          }
         }
         @media (width < 400px) {
          .navbar {
               padding-top: 10px;
          } 
          .navbar .links ul li:first-child a{
            background-color: transparent;
        }
          .navbar .right-nav div:nth-child(1) a {
               display: none;
          }
     }
         @media (width < 310px) {
          .navbar .links .navbar-2  {
               top: 80px;
            }
          .navbar .logo {
               width: 30px;
               height: 30px;
          }
          .navbar .logo img {
               width: 20px;
               height: 20px;
          }
          #menu-icon{
               font-size: 1.6rem;
          }
           .navbar .right-nav {
               gap: 10px;
         }
     .navbar .right-nav div:nth-child(2) a {
          font-size: 10px;
          padding: 8px 15px;
     }
     }

